@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes mcSplashText {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.5,1.5);}
    100% {transform: scale(1,1);}
}

#bg {
    position: fixed;
    top: 0;
    left: 33.4vw;
    /* grid-column: 6 / 12; */
    background-color: black;
    z-index: 0;
}

main {
    width: 100vw;
    color: white;
    /* background-color: darkblue; */
    position: absolute;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

html {
    scroll-snap-type: both mandatory;
    background-color: black;
}

h1, h2 {
    font-family: 'Verdana';
    font-weight: bolder;
    color: white;
}

p {
    font-family: 'Verdana';
    font-weight: 200;
    color: white;
}

a {
    font-family: 'Verdana';
    font-weight: 200;
    color: darkorchid;
}

.hoverable {
    background-color: darkcyan;
    color: black;
    border-radius: 15px;
    grid-column: 2 / 7;
    padding: 1rem;
    margin-top: 50vh;
    margin-bottom: 50vh;
    scroll-snap-align: center;
    text-align: center;
    z-index: 1;
}

.hoverable:hover {
    transform: scale(1.05,1.05);
    .fade-in-text {
        visibility: visible;
        animation: fadeIn 1s;
    }
}

.name {
    background-color: darkorchid;
    text-align: center;
    height: 6vh;
    grid-column: 3 / 6;
}

.hint {
    visibility: visible;
    color: white;
    text-align: center;
    grid-column: 3 / 6;
    margin-top: -5vh;
    margin-bottom: 5vh;
    animation: mcSplashText 3s;
    animation-iteration-count: infinite;
}

.bio {
    visibility: hidden;
}

.name:hover {
    height: auto;
    grid-column: 2 / 7;
    .hint {
        visibility: hidden;
    }
    .bio {
        visibility: visible;
    }
    animation: grow 1s;
}

.fade-in-text {
    text-align: center;
    visibility: hidden;
}

iframe, video {
    border-radius: 15px;
    grid-column: 2 / 7;
    z-index: 1;
}

.topvideo {
    margin-top: 40vh;
    margin-bottom: -47vh;
}

.botvideo {
    margin-top: -47vh;
}

.link {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}